.lead__title {
  max-width: 288px;
  font-size: 40px;
  line-height: 110%;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0 0 32px;
}

@media screen and (min-width: 768px){
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 104%;
  }
}
