.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /*line-height: 162%; - В фигме дан вариант использования как в пикселях, так и в процентах.*/
  line-height: 26px;
  color: #fff;
  margin: 0 16px 24px;
  padding: 0;
}

@media screen and (min-width: 768px){
  .place__paragraph {
    margin: 0;
  }
}

@media screen and (min-width: 1024px){
  .place__paragraph {
    font-size: 18px;
    /*line-height: 167%; - В фигме дан вариант использования, как в пикселях, так и в процентах.*/
    line-height: 30px;
  }
}
