.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /*line-height: 162%; - В фигме дан вариант использования как в пикселях, так и в процентах.*/
  line-height: 26px;
  color: #fff;
  padding: 0;
  margin: 0 0 32px;
}
