.lead__subtitle {
  max-width: 288px;
  font-size: 16px;
  line-height: 125%;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px){
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 120%;
  }
}
