.footer__item{
  margin: 32px 0 0;
}

@media screen and (min-width: 768px){
  .footer__item{
    margin: 0 18px 0 0;
  }
  .footer__item:last-of-type{
    margin: 0;
  }
}

.footer__item:hover{
  opacity: 0.8;
  transition: .8s;
}
