@import '../vendor/normalize.css';

@import '../blocks/body/body.css';

@import '../blocks/page/page.css';
@import '../blocks/page/__header/page__header.css';
@import '../blocks/page/__lead/page__lead.css';
@import '../blocks/page/__intro/page__intro.css';
@import '../blocks/page/__photo-grid/page__photo-grid.css';
@import '../blocks/page/__places/page__places.css';
@import '../blocks/page/__cover/page__cover.css';

@import '../blocks/header/header.css';
@import '../blocks/header/__lang-item/header__lang-item.css';
@import '../blocks/header/__lang-link/header__lang-link.css';
@import '../blocks/header/__lang-links/header__lang-links.css';
@import '../blocks/header/__logo/header__logo.css';
@import '../blocks/header/__lang-link/_state/header__lang-link_state_active.css';

@import '../blocks/lead/lead.css';
@import '../blocks/lead/__image/lead__image.css';
@import '../blocks/lead/__subtitle/lead__subtitle.css';
@import '../blocks/lead/__caption/lead__caption.css';
@import '../blocks/lead/__title/lead__title.css';

@import '../blocks/intro/intro.css';
@import '../blocks/intro/__list-number/intro__list-number.css';
@import '../blocks/intro/__list-text/intro__list-text.css';
@import '../blocks/intro/__list/intro__list.css';
@import '../blocks/intro/__text/intro__text.css';
@import '../blocks/intro/__title/intro__title.css';

@import '../blocks/photo-grid/__list/photo-grid__list.css';
@import '../blocks/photo-grid/__image/photo-grid__image.css';

@import '../blocks/places/places.css';
@import '../blocks/places/__container/places__container.css';

@import '../blocks/place/place.css';
@import '../blocks/place/__image/place__image.css';
@import '../blocks/place/__link/place__link.css';
@import '../blocks/place/__paragraph/place__paragraph.css';
@import '../blocks/place/__title/place__title.css';
@import '../blocks/place/__url-heading/place__url-heading.css';
@import '../blocks/place/__website/place__website.css';
@import '../blocks/place/__list/place__list.css';
@import '../blocks/place/__item/place__item.css';
@import '../blocks/place/__footer/place__footer.css';

@import '../blocks/cover/__link/cover__link.css';
@import '../blocks/cover/__subtitle/cover__subtitle.css';
@import '../blocks/cover/__title/cover__title.css';
@import '../blocks/cover/cover.css';

@import '../blocks/footer/footer.css';
@import '../blocks/footer/__copyright/footer__copyright.css';
@import '../blocks/footer/__item/footer__item.css';
@import '../blocks/footer/__link/footer__link.css';
@import '../blocks/footer/__list/footer__list.css';
@import '../blocks/footer/__menu/footer__menu.css';
