.page__places {
  margin: 64px 0 0;
}

@media screen and (min-width: 768px){
  .page__places {
    margin: 88px 24px 0;
  }
}

@media screen and (min-width: 1024px){
  .page__places {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 1280px){
  .page__places {
    margin: 92px 148px 0;
  }
}
