.cover__title{
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  width: 288px;
  align-self: center;
  text-align: center;
  margin: 0 0 32px;
  padding: 0;
  color: #FFFDFD;
}

@media screen and (min-width: 768px){
  .cover__title{
    font-size: 72px;
    line-height: 106%;
    width: 560px;
  }
}
