.place {
  display: grid;
  gap: 32px;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
    grid-template-areas:
    "place__title"
    "place__image"
    "place__list"
  ;
}

.place__title {
  grid-area: place__title;
}

.place__website {
  grid-area: place__website;
}

.place__image {
  grid-area: place__image;
}

.place__list {
  grid-area: place__list;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    gap: 48px 28px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__list"
  ;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    gap: 48px 40px;
  }
}
